In [1]:
import pandas as pd

In [30]:
groceries=pd.Series(data=[1989, 28, "Yogesh", "Walia"], index=["year", "age", "First_Name", "Last_Name"])
print(groceries)

year            1989
age               28
First_Name    Yogesh
Last_Name      Walia
dtype: object

In [18]:
# We print some information about Groceries
print('Groceries has shape:', groceries.shape)
print('Groceries has dimension:', groceries.ndim)
print('Groceries has a total of', groceries.size, 'elements')

Groceries has shape: (4,)
Groceries has dimension: 1
Groceries has a total of 4 elements

In [19]:
# We print the index and data of Groceries
print('The data in Groceries are:', groceries.values)
print('The index of Groceries are:', groceries.index)

The data in Groceries are: [1989 28 'Yogesh' 'Walia']
The index of Groceries are: Index(['year', 'age', 'First_Name', 'Last_Name'], dtype='object')

In [20]:
# We check whether bananas is a food item (an index) in Groceries
x = 'bananas' in groceries

# We check whether age is an item (an index) in Groceries
y = 'age' in groceries

# We print the results
print('Is bananas an index label in Groceries:', x)
print('Is age an index label in Groceries:', y)

Is bananas an index label in Groceries: False
Is age an index label in Groceries: True

In [21]:
# We access elements in Groceries using index labels:

# We use a single index label
print(groceries['age'])
print()

# we can access multiple index labels
print(groceries[['First_Name', 'Last_Name']]) 
print()

# we use loc to access multiple index labels
print(groceries.loc[['First_Name', 'year']]) 
print()

# We access elements in Groceries using numerical indices:

# we use multiple numerical indices
print(groceries[[0, 1]]) 
print()

# We use a negative numerical index
print(groceries[[-1]]) 
print()

# We use a single numerical index
print(groceries[0]) 
print()
# we use iloc to access multiple numerical indices
print(groceries.iloc[[2, 3]])

28

First_Name    Yogesh
Last_Name      Walia
dtype: object

First_Name    Yogesh
year            1989
dtype: object

year    1989
age       28
dtype: object

Last_Name    Walia
dtype: object

1989

First_Name    Yogesh
Last_Name      Walia
dtype: object

In [22]:
print(groceries, "\n")

groceries['age']=29

print(groceries)

year            1989
age               28
First_Name    Yogesh
Last_Name      Walia
dtype: object

year            1989
age               29
First_Name    Yogesh
Last_Name      Walia
dtype: object

In [28]:
# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We remove age from our grocery list. The drop function removes elements out of place
print()
print(groceries.drop('age'))

# When we remove elements out of place the original Series remains intact. To see this
# we display our grocery list again
print()
print('Grocery List out of place:\n', groceries)

Original Grocery List:
 year            1989
age               29
First_Name    Yogesh
Last_Name      Walia
dtype: object

year            1989
First_Name    Yogesh
Last_Name      Walia
dtype: object

Grocery List out of place:
 year            1989
age               29
First_Name    Yogesh
Last_Name      Walia
dtype: object

In [29]:
# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We remove age from our grocery list. in-place
print()
print(groceries.drop('age', inplace=True))

print()
print('Grocery List out of place:\n', groceries)

Original Grocery List:
 year            1989
age               29
First_Name    Yogesh
Last_Name      Walia
dtype: object

None

Grocery List out of place:
 year            1989
First_Name    Yogesh
Last_Name      Walia
dtype: object

In [31]:
# We create a Pandas Series that stores a grocery list of just fruits
fruits= pd.Series(data = [10, 6, 3,], index = ['apples', 'oranges', 'bananas'])

# We display the fruits Pandas Series
print(fruits)

apples     10
oranges     6
bananas     3
dtype: int64

In [32]:
# We print fruits for reference
print('Original grocery list of fruits:\n ', fruits)

# We perform basic element-wise operations using arithmetic symbols
print()
print('fruits + 2:\n', fruits + 2) # We add 2 to each item in fruits
print()
print('fruits - 2:\n', fruits - 2) # We subtract 2 to each item in fruits
print()
print('fruits * 2:\n', fruits * 2) # We multiply each item in fruits by 2 
print()
print('fruits / 2:\n', fruits / 2) # We divide each item in fruits by 2
print()

Original grocery list of fruits:
  apples     10
oranges     6
bananas     3
dtype: int64

fruits + 2:
 apples     12
oranges     8
bananas     5
dtype: int64

fruits - 2:
 apples     8
oranges    4
bananas    1
dtype: int64

fruits * 2:
 apples     20
oranges    12
bananas     6
dtype: int64

fruits / 2:
 apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [33]:
# We import NumPy as np to be able to use the mathematical functions
import numpy as np

# We print fruits for reference
print('Original grocery list of fruits:\n', fruits)

# We apply different mathematical functions to all elements of fruits
print()
print('EXP(X) = \n', np.exp(fruits))
print() 
print('SQRT(X) =\n', np.sqrt(fruits))
print()
print('POW(X,2) =\n',np.power(fruits,2)) # We raise all elements of fruits to the power of 2

Original grocery list of fruits:
 apples     10
oranges     6
bananas     3
dtype: int64

EXP(X) =
 apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

SQRT(X) =
 apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

POW(X,2) =
 apples     100
oranges     36
bananas      9
dtype: int64

In [34]:
# We print fruits for reference
print('Original grocery list of fruits:\n ', fruits)
print()

# We add 2 only to the bananas
print('Amount of bananas + 2 = ', fruits['bananas'] + 2)
print()

# We subtract 2 from apples
print('Amount of apples - 2 = ', fruits.iloc[0] - 2)
print()

# We multiply apples and oranges by 2
print('We double the amount of apples and oranges:\n', fruits[['apples', 'oranges']] * 2)
print()

# We divide apples and oranges by 2
print('We half the amount of apples and oranges:\n', fruits.loc[['apples', 'oranges']] / 2)

Original grocery list of fruits:
  apples     10
oranges     6
bananas     3
dtype: int64

Amount of bananas + 2 =  5

Amount of apples - 2 =  8

We double the amount of apples and oranges:
 apples     20
oranges    12
dtype: int64

We half the amount of apples and oranges:
 apples     5.0
oranges    3.0
dtype: float64

In [35]:
groceries*2

year                  3978
age                     56
First_Name    YogeshYogesh
Last_Name       WaliaWalia
dtype: object

In [7]:
# We create a dictionary of Pandas Series 
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# We print the type of items to see that it is a dictionary
print(items,"\n\n")
print(type(items))

{'Bob': bike     245
pants     25
watch     55
dtype: int64, 'Alice': book        40
glasses    110
bike       500
pants       45
dtype: int64}


<class 'dict'>

In [6]:
shopping_carts=pd.DataFrame(items)
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [5]:
# We create a dictionary of Pandas Series without indexes
data = {'Bob' : pd.Series([245, 25, 55]),
        'Alice' : pd.Series([40, 110, 500, 45])}

# We create a DataFrame
df = pd.DataFrame(data)

# We display the DataFrame
df

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

In [8]:
# We print some information about shopping_carts
print('shopping_carts has shape:', shopping_carts.shape)
print('shopping_carts has dimension:', shopping_carts.ndim)
print('shopping_carts has a total of:', shopping_carts.size, 'elements')
print()
print('The data in shopping_carts is:\n', shopping_carts.values)
print()
print('The row index in shopping_carts is:', shopping_carts.index)
print()
print('The column index in shopping_carts is:', shopping_carts.columns)

shopping_carts has shape: (5, 2)
shopping_carts has dimension: 2
shopping_carts has a total of: 10 elements

The data in shopping_carts is:
 [[245. 500.]
 [ nan  40.]
 [ nan 110.]
 [ 25.  45.]
 [ 55.  nan]]

The row index in shopping_carts is: Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

The column index in shopping_carts is: Index(['Bob', 'Alice'], dtype='object')

In [9]:
# We Create a DataFrame that only has Bob's data
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])

# We display bob_shopping_cart
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

In [10]:
# We Create a DataFrame that only has selected items for both Alice and Bob
sel_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'])

# We display sel_shopping_cart
sel_shopping_cart

        Bob  Alice
pants  25.0     45
book    NaN     40

In [11]:
# We Create a DataFrame that only has selected items for Alice
alice_sel_shopping_cart = pd.DataFrame(items, index = ['glasses', 'bike'], columns = ['Alice'])

# We display alice_sel_shopping_cart
alice_sel_shopping_cart

         Alice
glasses    110
bike       500

In [14]:
# We create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3, 4],
        'Floats' : [4.5, 8.2, 9.6, 2.2]}

# We create a DataFrame 
df = pd.DataFrame(data)

# We display the DataFrame
df

   Integers  Floats
0         1     4.5
1         2     8.2
2         3     9.6
3         4     2.2

In [15]:
# We create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}

# We create a DataFrame and provide the row index
df = pd.DataFrame(data, index = ['label 1', 'label 2', 'label 3'])

# We display the DataFrame
df

         Integers  Floats
label 1         1     4.5
label 2         2     8.2
label 3         3     9.6

In [19]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame 
store_items = pd.DataFrame(items2)

# We display the DataFrame
store_items

   bikes  glasses  pants  watches
0     20      NaN     30       35
1     15     50.0      5       10

In [20]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])

# We display the DataFrame
store_items

         bikes  glasses  pants  watches
store 1     20      NaN     30       35
store 2     15     50.0      5       10